{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}
{% block main %}

    <table class = "table table-sm   table-responsive table-hover table-striped">
        <thead>
            <tr>
                <th colspan="1">Name</th>
                <th colspan="1">Symbol</th>
                <th colspan="1">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{name}}</td>
                <td>{{symbol}}</td>
                <td>{{price|usd}}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}